go 1.25.0

use (
	./gen
	./proto
	./services/academy-service
	./services/competition-service
	./services/venue-service
	./services/gateway
	./services/identity-service
	./services/meta-service
	./services/scout-service
	./services/sport-service
	./shared
)
